<!doctype html>
 <html lang="ru">
   <head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Icons -->
     <title>Score</title>
   </head>
   <body>
      <div class="container-fluid">
          <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="row">
              <a class="navbar-brand col-auto pr-0 pl-0 pt-3" href="/">
                  <img src="assets/images/logo.png" width="40" height="30" class="d-inline-block align-top"  alt="">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Лицензия</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/score">Счёт</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Рейтинг</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/transactions">Транзакции</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Объявления</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Выйти</a>
                    </li>
                  </ul>
                </div>
            </div>  
          </nav>


       <div class="row">
        <div class="col-lg-7 order-lg-1 col-12 order-2 ">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Памятка к лицензии!</h4>
              {{ license.name }}
            </div>
            <h2>На Вашем балансе: {{ score.value }}</h2>
            <hr>


            <form action="/score" method="POST">
              <div class="form-group">
                  <h3><label for="Перевод">Переводы:</label></h3>
                <input id="value" name="value" class="form-control" type="number" placeholder="Сумма перевода">
              </div>
              <div class="form-group">
                <label for="recipient">Получатель:</label>
                <select name="recipientId" id="recipientId" class="form-control selectpicker" data-show-subtext="true" data-live-search="true">
                  {% for user in users %}
                    <option value="{{ user._id }}">{{ user.name }}</option>
                  {% endfor %}
                  <option value="Project_3">Project_3</option>
                  <option value="X03">X03</option>              
                  <option value="C06">C06</option>
                  <option value="Всем">Всем</option>
                </select>
              </div>


              <div class="form-check">
                <input type="radio" id="Оплата труда" name="type" value="work" checked>
                <label for="Оплата труда">Оплата труда</label>
              </div>
              <div class="form-check">
                <input type="radio" id="Оплата проектных услуг" name="type" value="project">
                <label for="Оплата проектных услуг">Оплата проектных услуг</label>
              </div>
              <div class="form-check">
                <input type="radio" id="Возврат инвестиции" name="type" value="payback">
                <label for="Возврат инвестиции">Возврат инвестиции</label>
              </div>
              <br>

              <div class="form-group">
                <input id="number" name="count" class="form-control" type="number" placeholder="Кол-во единиц">
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Сколько единиц товара куплено
                </small>
              </div>

              <div class="form-group">
                <input id="text" name="subject" class="form-control" type="text" placeholder="Предмет оплаты">
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Комментарий
                </small>
              </div>
              <input type="submit" value="Перевести" class="btn btn-success">

              <!--<button id="sendButton" type="input" class="btn btn-success">Перевести</button>  вставить что-то чтобы кнопка работала onclick="transferTo(recipient)" -->
            </form>





          <br>
          <hr>
        </div>
        <div class="col-lg-12 order-lg-3 col-12 order-3 ">
          <h3>Мои операции:</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Счет</th>
                <th scope="col">Сумма</th>
                <th scope="col">Комментарий</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2</th>
                <td>Bank</td>
                <td>-20</td>
                <td>Оплата лицнзии "Инвестор"</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Bank</td>
                <td>+300</td>
                <td>Выдача займа</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- col-sm-12 order-sm-1 -->
        <div class="col-lg-5 order-lg-2 col-12 order-1 ">
            <div class="collapse" id="creditHelp">
              <h3 style="color:brown">Правила использованиия счёта</h3>
              <p>
                </p>
                  <ul>
                    <li>К каждому переводу необходимо указывать комментарий, описывающий предмет сделки.</li>
                    <li>Запрещено совершать операции не соответствующие вашей лицензии.</li>
                  </ul>
                <p>
              </p>
              <p>За несоблюдение выше перечисленных предписаний, банк в праве <b>взыскать штраф</b> в размере от 1x до 3x кратного размера транзакции.</p>
              <p>Банк в праве запросить разъяснение по операциям типа "другое", а также запросить доказательства реальности сделки. <b> В случае отказа от разъяснений или выявления фиктивности сделки - блокировка счёта.</b></p>
            </div>
              <p>
                <b>
                  <span style="font-size: 15pt; color:rgb(0, 48, 121);">В банке можно взять кредит</span>
                </b> на один раунд под 5% за раунд.<br>Деньги списываются автоматически по итогу раунда.<br>
                  </p>

                  <form action="/score/getCredit" method="POST">
                    <div class="form-group">    
                      <input id="creditValue" name="creditValue" class="form-control" type="text" placeholder="Сумма кредита">
                    </div>
                    <i>Доступный лимит на этот раунд: 0</i>
                    <br><br>
                    <input type="submit" value="Получить кредит" class="btn btn-success mb-1">
                    <!--<button id="creditButton" onclick="getCredit()" type="input" class="btn btn-success mb-1">Получить кредит</button>-->
                    <button class="btn btn-info d-none d-block d-lg-none" type="button" data-toggle="collapse" data-target="#creditHelp" aria-expanded="false" aria-controls="creditHelp">
                      Правила использования счёта &#x2754;
                    </button>
                  </form>

              <p></p>
            <hr class="d-none d-block d-lg-none">

        </div>
       </div>
     </div>

     <script>
       function transferTo(recipient) {
         alert('works');
       }
     </script>
     <script src="assets/javascript/tableHighlight.js"></script>
     <script src="assets/javascript/creditCollapse.js"></script>
     <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
 </html> 