<!DOCTYPE html>
<html>
<head>
    <title>List of transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="row">
                  <a class="navbar-brand col-auto pr-0 pl-0 pt-3" href="/">
                      <img src="assets/images/logo.png" width="40" height="30" class="d-inline-block align-top"  alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="#">Лицензия</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/score">Счёт</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Рейтинг</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/transactions">Транзакции</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Объявления</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Выйти</a>
                        </li>
                      </ul>
                    </div>
                </div>  
              </nav>

<table>
    <tr>
        <td>ID</td>
        <td>ID отправителя</td>
        <td>ID получателя</td>
        <td>Стоимость</td>
        <td>Тип</td>
        <td>Количество единиц</td>
        <td>Предмет оплаты</td>
    </tr>
{% for t in transactions %}
    <tr>
        <td> <a href="/transaction/{{ t._id }}"> {{ t._id }} </a> </td>
        <td>{{ t.senderId }}</td>
        <td>{{ t.recipientId }}</td>
        <td>{{ t.value }}</td>
        <td>{{ t.type }}</td>
        <td>{{ t.count }}</td>
        <td>{{ t.subject }}</td>
    </tr>
{% endfor %} 
</table>
</div>
</body>
</html>